
@import './variables.less';

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}


.red-board{
  border: 1px solid red;
}

.shadow-box{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}



/**
* 基础布局
*/
.pt-flex-row-start{
	display: flex;
	flex-direction: row;
}

.pt-flex-row-between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pt-flex-row-between-center{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.pt-flex-row-center-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pt-flex-row-start-center{
	display: flex;
	flex-direction: row;
	align-items: center;
}

	
.pt-flex-column-top-bottom{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
	
.pt-flex-column-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pt-flex-column-center-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


 /**
	*<!-- 最多显示一行 -->
	*/
.pt-ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pt-multi-ellipsis--l2{
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/**
 * 二级子页面
 */
.sub-pg{	
	height: calc(100% - 100px);
	background-color: white;

	padding: 20px;
}

.common-add-btn{
	width: 100px;
	background-color: #2D60D0;
	border: 1px solid #2D60D0;
	margin-bottom: 8px;
}