//颜色参考：https://element.eleme.cn/#/zh-CN/component/color

@font-family-main: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;

/**
 * 视觉设计规范
 */
 @window-width:            1280px;
 @theme-color:             #07328F;
 
 @color-base-click:        #606C80;
 @color-base-normal:       #202D40;
 @color-base-hover:        #606C80;
 @color-base-gray:         #DADFE6;
 @color-base-middle:       #F5F7FA;
 @color-base-gray-light:   #FFFFFF;
 
 @color-theme-click:       #07328F;
 @color-theme-normal:      #2D60D0;
 @color-theme-hover:       #578cff;
 @color-table-header:      #C7CED7;
 @color-func-red:          #ED5432;
 @color-func-yellow:       #E5A312;
 @color-func-green:        #6BD420;
 
 
 @color-btn-hover-bg:      #4C93FF;
 
 @font-color-title:        #000000;
 @font-color-content:      #202D40;
 @font-color-notice:       #606C80;
 
 @font-size-12:            12px;
 @font-size-14:            14px;
 @font-size-16:            16px;
 @font-size-20:            20px;
 @font-size-24:            24px;
 @font-size-30:            30px;
 @font-size-38:            38px;
 @font-size-46:            46px;
 @font-size-56:            56px;
 @font-size-68:            68px;
 
 @height-header: 69px;
 @height-footer: 120px;